# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django stuff:
*.log
db.sqlite3
media/

# VS Code
.vscode/

# Migrations (optional)
**/migrations/__pycache__/
