# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual Environment
.venv/
env/
venv/

# Django
db.sqlite3
*.log
staticfiles/
media/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
